
.commando {
  font-family: sans-serif;
}

.commando .suggestion {
  font-family: monospace;
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: #eee;
  color: black;
  transition: background-color 50ms linear, color 30ms linear;
  cursor: pointer;
}

.commando .suggestion:active {
  background-color: #8fa;
  color: white;
  transition: background-color 0ms linear, color 0ms linear;
}
